body {
    font-family: Arial, sans-serif;
    padding: 30px;
    background-color: #f0f2f5;
}

input,
button {
    padding: 8px;
    margin: 5px 0;
}



.card-title {
    font-size: 1.25rem;
    font-weight: 600;
}


.form-container {
    flex-basis: 500px;
    /* max-width: 500px; */
    margin: auto;
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.toggle-btn {
    text-align: center;
    margin-top: 20px;
}